<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Johannes Lutzeyer -- Personal Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Johannes Lutzeyer an Assistant Professor at École Polytechnique working on Graph Representation Learning with a focus on Graph Neural Networks.">
    <meta name="keywords" content="Graph Neural Networks, Graph Representation Learning, Graph Shift Operators, Johannes Lutzeyer, DaSciM">
         <style>   
          img {
          border-radius: 50%;
        }
        </style>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
    
          <p style="text-align:center"> <img src="{{site.logo | relative_url}}" width="180" alt="Johannes F. Lutzeyer" /> </p>

        {% endif %}

        <h1> Johannes Lutzeyer </h1>
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>


        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0MC4LNTJ3L"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-0MC4LNTJ3L');
        </script>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
